<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/common.css" />
  <title>Document</title>
</head>

<body>
   <%- include('../partial/header/header.ejs') %>
  <h2>This is contact page</h2>
  <h3>contact us <i>husain68644@gmail.com</i></h3>
  <%# This type of comment not be renderd in source code %>

</body>

</html>